.scene {
  display: flex;
  flex-direction: column;
}

.board {
  border: 2px solid #606368;
  margin: 20px auto;
  background: #b4b7bd;
}

.row {
  display: flex;
}

.banner {
  border-bottom: 2px solid #606368;
  height: 60px;
  font-family: Digital;
  text-shadow: 4px 4px 4px grey;
  font-size: 60px;
  display: flex;
}

.banner > .box {
  width: 33%;
  text-align: center;
}

.axo-button-play {
  background: url("https://gloubi-boulga.github.io/minesweeper/assets/images/axo-play.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.axo-button-won {
  background: url("https://gloubi-boulga.github.io/minesweeper/assets/images/axo-won.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.axo-button-lost {
  background: url("https://gloubi-boulga.github.io/minesweeper/assets/images/axo-lost.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.left {
  border-left: 1px solid #606368;
}

.right {
  border-right: 1px solid #606368;
}
