.scene {
  display: flex;
  flex-direction: column;
}

.board {
  border: 2px solid #606368;
  margin: 20px auto;
  background: #B4B7BD;
}

.row {
  display: flex;
}

.banner {
  border-bottom: 2px solid #606368;
  height: 60px;
  font-family: Digital;
  text-shadow: 4px 4px 4px grey;
  font-size: 60px;
  display: flex;
}

.banner > .box {
  width: 50%;
  text-align: center;
}

.left {
  border-left: 1px solid #606368;
}

.right {
  border-right: 1px solid #606368;
}