.scene {
  display: flex;
  flex-direction: column;
}

.board {
    border: 8px solid black;
    border-radius: 10px;
    margin: 20px auto;
    background: #A3A7AE;
}

.row {
  display: flex;
}

.banner {
  border-bottom: 8px solid black;
  height: 60px;
  font-family: Digital;
  text-shadow: 4px 4px 4px grey;
  font-size: 60px;
  display: flex;
}

.banner > .box {
  width: 50%;
  text-align: center;
}

.left {
  border-left: 2px solid black;
}

.right {
  border-right: 2px solid black;
}