.container {
    height: 500px;
    width: 700px;
    overflow: auto;
    margin: auto;
}

table {
    border: 2px solid #606368;
    background-color: #C7CACE;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #606368;
}

.custom-th {
    background-color: #B4B7BD;
}
  