<br />
<div *ngIf="history.length > 0; else elseBlock" class="container">
  <table>
    <tr class="custom-th">
      <th>Status</th>
      <th>Mode</th>
      <th>Playing time</th>
      <th>Flagged mines</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let item of history">
      <td>{{ item.status }}</td>
      <td>
        {{ item.mode }}
        <span *ngIf="item.mode === 'Custom'"
          >({{ item.input.row }}x{{ item.input.column }})</span
        >
      </td>
      <td>{{ item.time * 1000 | date: "mm:ss" }}</td>
      <td>{{ item.flagged }}</td>
      <td>{{ item.date | date: "d MMM y HH:mm:ss" }}</td>
    </tr>
  </table>
</div>
<ng-template #elseBlock>
  <div class="no-information">
    <h2>No information to show.</h2>
  </div>
</ng-template>
<br />
