<div style="text-align: center" #content>
  <br />
  <img
    class="animate__animated animate__rubberBand"
    src="https://guillaumehx.github.io/minesweeper/assets/images/logo.png"
  />
  <br />
  <br />
  <table>
    <tr>
      <td>
        <span
          class="button"
          (click)="startNewGame(10, 10, 18); displayInputs = false"
          [attr.tooltip]="'beginner.catchphrase' | transloco"
          tooltip-position="bottom"
          >{{ "beginner.title" | transloco }}</span
        >
      </td>
      <td>
        <span
          class="button"
          (click)="startNewGame(16, 16, 48); displayInputs = false"
          [attr.tooltip]="'intermediate.catchphrase' | transloco"
          tooltip-position="bottom"
          >{{ "intermediate.title" | transloco }}</span
        >
      </td>
      <td>
        <span
          class="button"
          (click)="startNewGame(16, 24, 72); displayInputs = false"
          [attr.tooltip]="'expert.catchphrase' | transloco"
          tooltip-position="bottom"
          >{{ "expert.title" | transloco }}</span
        >
      </td>
      <td>
        <span
          class="button"
          (click)="customGame()"
          [attr.tooltip]="'custom.catchphrase' | transloco"
          tooltip-position="bottom"
          >{{ "custom.title" | transloco }}</span
        >
      </td>
    </tr>
    <tr *ngIf="displayInputs">
      <td>
        <b>{{ "rows" | transloco }}: </b
        ><input
          type="number"
          min="3"
          [(ngModel)]="input.row"
          (input)="updateBoard()"
        />
      </td>
      <td>
        <b>{{ "columns" | transloco }}: </b
        ><input
          type="number"
          min="3"
          [(ngModel)]="input.column"
          (input)="updateBoard()"
        />
      </td>
      <td>
        <b>{{ "mines" | transloco }}: </b
        ><input
          type="number"
          min="1"
          [(ngModel)]="input.mine"
          [max]="maxMines"
          (input)="updateBoard()"
        />
      </td>
    </tr>
  </table>

  <classical-board
    [rowsNumber]="10"
    [columnsNumber]="10"
    [minesNumber]="18"
    (notifyGameStatus)="updateGameStatus($event)"
    (restartGameEvent)="startNewGame()"
    #minesweeper
  ></classical-board>

  <overlay [overlayData]="overlayData"></overlay>

  <span
    class="settings"
    [attr.tooltip]="'history.title' | transloco"
    tooltip-position="bottom"
  >
    <img
      src="https://guillaumehx.github.io/minesweeper/assets/images/settings.png"
      width="30"
      height="30"
      (click)="settings()"
    />
  </span>
</div>
