.time {
  background: #A3A7AE;
  display: inline-block;
  padding: 6px 10px;
}

.hidden {
  visibility: hidden;
}

table, td, th {
  padding: 20px;
}

table {
  width:auto;
  margin: auto;
  border-collapse: collapse;
}

.btn {
  border: 8px solid #A3A7AE;
  border-radius: 10px;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
}

input {
  width: 60px;
  height: 20px;
}

.btn:hover {
  background: #A3A7AE;
}