/* You can add global styles to this file, and also import other style files */
body {
  background: #E0E2E4 no-repeat 23px 30px;
  background-size: 380px;
  font-family: sans-serif;
}

a:hover{
  cursor: pointer;
}

ul.actions{
  list-style: none;
  margin: 0 20px;
  padding: 0 0 20px;
}

ul.actions li{
  display: inline-block;
}
